<% include shared/header.ejs %>
  <form class="form-signin">
    <h2 class="form-signin-heading">登录</h2>
    <label for="inputEmail" class="sr-only">用户名</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="用户名" required="" autofocus="">
    <label for="inputPassword" class="sr-only">口令</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="口令" required="">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> 记住我
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>

<% include shared/footer.ejs %>