<% include shared/header.ejs %>
  <form class="form-horizontal form-signin" method="post">
    <fieldset>
      <legend>用户注册</legend>
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
          <p class="help-block">你的账户名称，用于登录和显示</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">口令</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" id="password" name="password" placeholder="口令">
        </div>
      </div>
      <div class="form-group">
        <label for="password-repeat" class="col-md-2 control-label">重复输入口令</label>
        <div class="col-md-4">
          <input type="password" class="form-control" id="password-repeat" name="password-repeat" placeholder="重复输入口令">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">注册</button>
        </div>
      </div>
    </fieldset>
  </form>
  <% include shared/footer.ejs %>