</div>
<div class="footer">
    Copyright©2018 All Rights Reserved by Micro Blog
  </div>
</div>
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
</body>
</html>