<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
  <title>
    <%= title %> - Microblog</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    /*body{
		padding-top:60px;
		padding-bottom:40px;
	    }*/
  </style>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <!-- <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="container">
    <% include navbar.ejs %>
      <div class="main-content">
        <!-- <div class="alert alert-success">
        成功
      </div> -->
        <!-- body content -->