<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">微博</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">首页</a></li>
          <li><a href="#about">关于我们</a></li>
          <li><a href="#contact">联系我们</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">博客 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">博客管理</li>
              <li><a href="#">新建</a></li>
              <li><a href="#">我发表的</a></li>
              <li><a href="#">博客评论</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">留言区</li>
              <li><a href="#">消息互动</a></li>
              <li><a href="#">粉丝留言</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/account">账号信息</a></li>
            <li><a href="/login">登录</a></li>
            <li><a href="/reg">注册</a></li>
          </ul>
      </div>
    </div>
    <!--/.nav-collapse -->
  </nav>